<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
   <title>pro home</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
 
 
 <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  </head>
  <body>
<div>
<header style="width: 100%; height: 65px;">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="width: 100%; height: 100%;">
  <a class="navbar-brand" href="#" style="font-size: 30px; "><strong><strong>everyday</strong></strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/professor/prohome.do" style="font-size: 15px;">내 강의</a>
      </li>
    </ul>
    </div>
    <div  style="text-align: right; margin-left: 5px; color: white; font-size: me;">
    <span>교수번호 : </span>
    <span th:text="${session.pro}"> </span>
    <span style="color: #93c54b"> / </span>
    <a href="/professor/write.do"  style="font-size: 15px;">Logout</a> </div>
</nav>
</header></div>


<div style= "height:80%; width:80%; margin-top:30px; margin-left:auto; margin-right:auto; border: 0.5px outset #E6E6E6; border-radius:5px; padding-bottom:3%;">
<footer><p ><strong><strong>everyday</strong></strong></p></footer>
<h1 style="text-align:right; margin-right:5%;  "><a style="font-size:15px;"  href="/professor/list.do?subCode="th:attrappend="href=${notice.nScode}">돌아가기</a></h1>

<h6 style="margin-left:5%; margin-top:30px; font-size:30px;">수정하기</h6>

<form action="/professor/update.do" method="post" style="margin:2%; border:0.5px outset #F8E6E0; padding-bottom:2%;">
<div style="height:90%; width:90%; margin-top:30px; margin-left:auto; margin-right:auto;  border-radius:5px; ">


   <table class="table table-borderd" style="margin-bottom:10px; ">
  <thead>
    <tr>
      <th style="background:#E6E6E6; text-align:center; ">제목</th>
      <td colspan="2" style="width:70%;"  ><input style="width:100%;" name="title" th:value="${notice.title}" type="text" placeholder="제목" ></td>
    </tr>
  </thead>
  <tbody >
    <tr>
    	<th style="background:#E6E6E6; text-align:center; line-height:160px; ">내용</th>
    	 <td colspan="2" style="width:70%;"><textarea  style="width:100%;" name="content"  rows="8" th:value="${notice.content}" type="text" placeholder="내용"></textarea></td>
    </tr>
      <tr>
<td style="text-align:right; "><input type="hidden" th:value="${notice.idx}" name="idx"><input type="hidden" th:value="${notice.nScode}" name="nScode">

    </tr>
 
  </tbody>
</table>
<!-- 수정 버튼 테이블 밖으로 이동 -->
<div style="display:inline-block; width:88%"></div>
<div style="display:inline-block; width:11%; text-align:right; 
  display:inline-block"><button type="submit" class="btn btn-light" style="border:1px solid gray;" >수정</button></div>
  </div>
  </form>
</div>


  </body>
</html>
