<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
   <title>student login page</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->   
   <link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
<!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
<!--===============================================================================================-->   
   <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->   
   <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="/css/util.css">
   <link rel="stylesheet" type="text/css" href="/css/main.css">
<!--===============================================================================================-->

</head>


<body>
   
   <div class="limiter">
      <div class="container-login100">
         <div class="wrap-login100">
            <form class="login100-form validate-form" method="post" action="/student/write.do">
               <h1 class="welcome"><span class="login100-form-title p-b-26">
                  Welcome
               </span></h1>
               
               <div style="width: 250px; height: 85px; margin: 0 auto; margin-bottom: 30px;">
                  <img alt="" src="/images/main.png" style="width: 100%; height: 100%;">
               </div>

               <div class="wrap-input100 validate-input" data-validate = "Enter ID">
                  <input class="input100" type="number" name="stu_num">
                  <span class="focus-input100" data-placeholder="ID"></span>
               </div>

               <div class="wrap-input100 validate-input" data-validate="Enter password">
                  <span class="btn-show-pass">
                     <i class="zmdi zmdi-eye"></i>
                  </span>
                  <input class="input100" type="password" name="pass">
                  <span class="focus-input100" data-placeholder="Password"></span>
               </div>

               <div class="container-login100-form-btn">
                  <div class="wrap-login100-form-btn">
                     <div class="login100-form-bgbtn"></div>
                     <button class="login100-form-btn" type="submit">
                        Login
                     </button>
                  </div>
               </div>
               
               <br ><span th:text="${msg}" style="text-align: center; color: red; font-size: 10pt;"></span><br><br>
               <div style="text-align: center;">
                  <a class="txt2" href="/student/register.do">
                     회원가입 
                  </a> <span class="txt2"> / </span>
                   <a class="txt2" href="/student/findpwd.do">
                     비밀번호 찾기
                  </a>   <br>
                  <a class="txt2" href="/professor/write.do">
                     교수 로그인
                  </a>
               </div>
            </form>
         </div>
      </div>
   </div>
   

   <div id="dropDownSelect1"></div>
   
<!--===============================================================================================-->
   <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
   <script src="/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
   <script src="/vendor/bootstrap/js/popper.js"></script>
   <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
   <script src="/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
   <script src="/vendor/daterangepicker/moment.min.js"></script>
   <script src="/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
   <script src="/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
   <script src="/js/main.js"></script>


</body>

</html>