<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
   <title>pro home</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
 
 
 <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  </head>
  <body>
<div>
<header style="width: 100%; height: 65px;">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="width: 100%; height: 100%;">
  <a class="navbar-brand" href="#" style="font-size: 30px; "><strong><strong>everyday</strong></strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/professor/prohome.do" style="font-size: 15px;">내 강의</a>
      </li>
    </ul>
    </div>
    <div  style="text-align: right; margin-left: 5px; color: white; font-size: me;">
    <span>교수번호 : </span>
    <span th:text="${session.pro}"> </span>
    <span style="color: #93c54b"> / </span>
    <a href="/professor/write.do"  style="font-size: 15px;">Logout</a> </div>
</nav>
</header></div>
<div> 




<div style="height:80%; width:80%; margin-top:30px; margin-left:auto; margin-right:auto; border: 0.5px outset #E6E6E6; border-radius:5px; padding-bottom:3%; margin-bottom:3%;">
<footer  ><p ><strong><strong>everyday</strong></strong></p></footer>


<h5 style=" margin-top:30px; font-size:20px;margin-left:50px; font-weight: bolder;">강의목록 조회</h5> 
<div  style="height:90%; width:90%; margin-top:30px; margin-left:auto; margin-right:auto; border: 0.5px outset #E6E6E6;border-radius:5px; ">
<div>
  	
 <table class="table table-boderd" style="height:100%; width:90%; margin-left:auto; margin-right:auto; margin-top:2%;">
  <thead>
    <tr style="background:#E6E6E6;">
      <th scope="col"  style="text-align: center;">과목이름</th>
      <th scope="col"  style="text-align: center;">전공유무</th>
      <th scope="col"  style="text-align: center;">학점</th>
      <th scope="col"  style="text-align: center;">요일</th>
      <th scope="col" colspan="2" style="text-align: center;">교시</th>
      <th scope="col" style="text-align: center;">과목 공지사항</th>
      <th scope="col" style="text-align: center;">학점기입</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="subject : ${subject}">
      <td th:text="${subject.subName}"  style="text-align: center;">이름</td>
      <th:block th:if=${subject.majorCheck!=0}>
      <td  style="text-align: center;">전공</td></th:block>
      <th:block th:if=${subject.majorCheck!=1}>
      <td  style="text-align: center;">비전공</td></th:block>
      <td th:text="${subject.subGrade}"  style="text-align: center;">점수</td>
      <td th:text="${subject.day}"  style="text-align: center;">요일</td>
      <td th:text="${subject.startTime}"  style="text-align: center;">시작교시</td>
      <td th:text="${subject.finishTime}"  style="text-align: center;">끝교시</td>
      <td style="text-align: center;"><a href="/professor/list.do?subCode="th:attrappend="href=${subject.subCode}">보기</a></td>
       <th:block th:if="${subject.sem==22}">
             <td style="text-align: center;"><a href="/professor/score.do?subCode="th:attrappend="href=${subject.subCode}">학점부여</a></td>
       </th:block>
          <th:block th:if="${subject.sem==11}">
             <td style="text-align: center;">19년1학기</td>
       	</th:block>
       	<th:block th:if="${subject.sem==12}">
             <td style="text-align: center;">19년2학기</td>
       	</th:block>
       	<th:block th:if="${subject.sem==21}">
             <td style="text-align: center;">20년1학기</td>
       	</th:block>
    </tr>
  </tbody>
</table>
  
  
  
</div>

</div>
</div>

</div>


  </body>
</html>
