<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
   <title>student home</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
 
 
 <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
   <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
  <style>
html, table {
height:100%;
position:relative;
}

</style>
 
  </head>
  <body>

<header style="width: 100%; height: 65px;">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="width: 100%; height: 100%; margin-left:auto; margin-right:auto; border-bottom-left-radius:5px; border-bottom-right-radius:5px;" >
  <a class="navbar-brand" href="#" style="font-size: 30px; "><strong><strong>everyday</strong></strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home/write.do" style="font-size: 18px;">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/insertsub/insert.do" style="font-size: 15px;">수강신청</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/subtable/mysub.do"  style="font-size: 15px;  background:-webkit-linear-gradient(#e55d87,#5fc3e4);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;">수강확인</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/review/review.do"  style="font-size: 15px;">수강후기</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/subjectinfo/subinfo.do"  style="font-size: 15px;">강의검색</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/student/mine.do"  style="font-size: 15px;">강의시간표</a>
      </li>
    </ul>
    </div>
    <div  style="text-align: right; margin-left: 5px; color: white; font-size: me;"><span><a href="/student/info.do">info</a></span>
    <span>Login : </span>
    <span th:text="${session.stu}"> </span>
    <span style="color: #93c54b"> / </span>
    <a href="/student/logout.do"  style="font-size: 15px;">Logout</a> </div>
</nav>
</header>



<div style="height:80%; width:80%; margin-top:30px; margin-left:auto; margin-right:auto; border: 0.5px outset #E6E6E6; border-radius:5px; padding-bottom:3%;">
<footer  ><p ><strong><strong>everyday</strong></strong></p></footer>
<h6 style="margin-left:5%; margin-top:30px; font-size:30px;">수강확인</h6>
<div style="height:90%; width:90%; margin-top:30px; margin-left:auto; margin-right:auto; border: 0.5px outset #E6E6E6;; border-radius:5px; ">

   <table class="table table-borderd "  style=" width:90%; margin-top:auto; margin-left:auto; margin-right:auto;  margin-top:2%;  ">
  <thead> 
    <tr style="background:#E6E6E6; ">
    
      <th scope="col" style="text-align: center;">과목이름</th>
      <th scope="col" style="text-align: center;">교수</th>
      <th scope="col" style="text-align: center;">점수</th>
      <th scope="col" style="text-align: center;">과목 상세보기</th>
      <th scope="col" style="text-align: center;">과목 공지사항</th>
        <th scope="col" style="text-align: center;">수강후기 작성</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="subject : ${subject}" id="list">
      <td th:text="${subject.toSubName}" style="text-align: center;">과목이름</td>
      <td th:text="${subject.toPname}" style="text-align: center;">교수</td>
      <th:block th:if="${subject.toGrade==0}"> <td style="text-align: center; color: red;">미입력</td></th:block>
      <th:block th:if="${subject.toGrade!=0}"><td th:text="${subject.toGrade}" style="text-align: center;">점수</td></th:block>
      <td style="text-align: center;"><a href="/subjectinfo/detail.do?subCode="th:attrappend="href=${subject.toCode}">상세보기</a></td>
       <td style="text-align: center;"><a href="/notice/list.do?toCode="th:attrappend="href=${subject.toCode}">공지사항</a></td>
             <td style="text-align: center;"><a href="/review/writeR.do?subCode="th:attrappend="href=${subject.toCode}">후기작성</a></td>
       
    </tr>

  </tbody>

</table>

</div>
    </div>
 
    
    
    
  </body>

</html>